@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-success {
    @apply bg-green-200
}

.bg-warning {
    @apply bg-yellow-100
}

.bg-danger {
    @apply bg-red-300
}

.bg-active {
    @apply bg-sky-400
}

.table-leave-from,.table-enter-to {
    transform: translateX(0);
    opacity: 1
}

.table-leave-to,.table-enter-from {
    transform: translateX(50px);
    opacity: 0
}

.table-leave-active {
    animation: fade-out-right .4s cubic-bezier(.25, .46, .45, .94) both
}
.table-enter-active {
    animation: fade-out-right .4s cubic-bezier(.25, .46, .45, .94) both reverse
}

@keyframes fade-out-right {
    0% {
        transform: translateX(0);
        opacity: 1
    }

    100% {
        transform: translateX(50px);
        opacity: 0
    }
}